# Comparação entre Metodologias

- Verificar porcentagem de acertos da metodologia RGB

## Acertos Intervalos Banda Azul

In [ ]:
# blue = {
#     "nulo":       (df["B"] >= 160),
#     "baixo":      (df["B"] <  160) & (df["B"] >  55),
#     "moderado":   (df["B"] <= 55)  & (df["B"] >  10),
#     "alto":       (df["B"] <= 10),
#     "muito alto": (df["B"] <= 10),
# }

In [1]:
from pathlib import Path
from glob import glob

import pandas as pd

dfonlyblue = pd.read_csv('comparison_methodologies_onlyblue.csv', index_col = 0)

In [3]:
dfonlyblue.describe()

       Comparação das Metodologias Classe Visual Classe Rotina
count                          202           202           202
unique                           2             6             4
top                   Mesma Classe         baixo         baixo
freq                           108            67           107

In [4]:
dfonlyblue['Classe Rotina'].value_counts()

baixo       107
nulo         62
alto         23
moderado     10
Name: Classe Rotina, dtype: int64

In [5]:
dfonlyblue['Classe Visual'].value_counts()

baixo         67
nulo          60
alto          32
moderado      31
muito alto     9
na             3
Name: Classe Visual, dtype: int64

In [7]:
dfonlyblue.groupby(["Comparação das Metodologias", "Classe Visual", "Classe Rotina"]).size()

Comparação das Metodologias  Classe Visual  Classe Rotina
Classes Diferentes           alto           baixo             9
                                            moderado          8
                             baixo          moderado          1
                                            nulo             15
                             moderado       alto              1
                                            baixo            27
                                            nulo              3
                             muito alto     alto              7
                                            baixo             1
                                            moderado          1
                             na             baixo             1
                                            nulo              2
                             nulo           baixo            18
Mesma Classe                 alto           alto             15
                             baixo          baixo            51
                             nulo           nulo             42
dtype: int64

In [11]:
# Porcentagem de acertos da metodologia

tot = 202
same_class = 108
acerto = (same_class/tot)*100
print('Porcentagem de acertos totais da metodologia foi de', round(acerto,2),'%')

Porcentagem de acertos totais da metodologia foi de 53.47 %

In [15]:
# Porcentagem de acertos por classe

#Dados Visual
data_visual = {'nulo': 60,
                'baixo': 67,
                'moderado': 31,
                'alto': 32,
                'muito alto':9
               }

#Dados Metodo RGB
data_onlyblue = {'nulo': 42,
                  'baixo': 51,
                  'moderado': 0,
                  'alto': 15,
                  'muito alto': 0
                 }

In [17]:
for key in data_visual.keys():
    acerto_classe = (data_onlyblue.get(key)/data_visual.get(key))*100
    print('Amarelamento',key,'teve', round(acerto_classe,2), '% de acertos \n')

Amarelamento nulo teve 70.0 % de acertos

Amarelamento baixo teve 76.12 % de acertos

Amarelamento moderado teve 0.0 % de acertos

Amarelamento alto teve 46.88 % de acertos

Amarelamento muito alto teve 0.0 % de acertos

## Acertos Intervalos Banda Azul + B/R

In [45]:
# blue = {
#     "nulo":       (df["B"] >= 160),
#     "baixo":      (df["B"] <  160) & (df["B"] >  55),
#     "moderado":   (df["B"] <= 55)  & (df["B"] >  10),
#     "alto":       (df["B"] <= 10) & (df['B']/df['R'] < 0.04),
#     "muito alto": (df["B"] <= 10)
# }

In [46]:
from pathlib import Path
from glob import glob

import pandas as pd

df_br = pd.read_csv('comparison_methodologies_br.csv', index_col = 0)

In [47]:
df_br.describe()

       Comparação das Metodologias Classe Visual Classe Rotina
count                          202           202           202
unique                           2             6             5
top                   Mesma Classe         baixo         baixo
freq                           106            67           107

In [48]:
df_br.groupby(["Comparação das Metodologias", "Classe Visual", "Classe Rotina"]).size()

Comparação das Metodologias  Classe Visual  Classe Rotina
Classes Diferentes           alto           baixo             9
                                            moderado          8
                                            muito alto        3
                             baixo          moderado          1
                                            nulo             15
                             moderado       baixo            27
                                            muito alto        1
                                            nulo              3
                             muito alto     alto              6
                                            baixo             1
                                            moderado          1
                             na             baixo             1
                                            nulo              2
                             nulo           baixo            18
Mesma Classe                 alto           alto             12
                             baixo          baixo            51
                             muito alto     muito alto        1
                             nulo           nulo             42
dtype: int64

In [49]:
# Porcentagem de acertos da metodologia

tot = 202
same_class = 106
acerto = (same_class/tot)*100
print('Porcentagem de acertos totais da metodologia foi de', round(acerto,2),'%')

Porcentagem de acertos totais da metodologia foi de 52.48 %

In [50]:
# Porcentagem de acertos por classe

#Dados Visual
data_visual = {'nulo': 60,
                'baixo': 67,
                'moderado': 31,
                'alto': 32,
                'muito alto':9
               }

#Dados Metodo RGB
data_dfbr = {'nulo': 42,
                  'baixo': 51,
                  'moderado': 0,
                  'alto': 12,
                  'muito alto': 1
                 }

In [51]:
for key in data_visual.keys():
    acerto_classe = (data_dfbr.get(key)/data_visual.get(key))*100
    print('Amarelamento',key,'teve', round(acerto_classe,2), '% de acertos \n')

Amarelamento nulo teve 70.0 % de acertos

Amarelamento baixo teve 76.12 % de acertos

Amarelamento moderado teve 0.0 % de acertos

Amarelamento alto teve 37.5 % de acertos

Amarelamento muito alto teve 11.11 % de acertos