# Classes Zanetti 

- Identificar padrÃ£o nas classes identificadas por Zanetti (2019)

In [2]:
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
from skimage import filters, io, morphology, segmentation
from skimage.color import rgb2gray
from skimage.measure import label, regionprops

plt.interactive(True)


def open_image(fname):
    return io.imread(fname)


def image_segmentation(img):
    gray = rgb2gray(img)
    mask = gray > filters.threshold_otsu(gray)
    borders = segmentation.clear_border(mask).astype(np.int64)
    segmentation.mark_boundaries(gray, borders)
    label_img = label(borders)
    regions = regionprops(label_img)
    return mask, borders, regions


def find_pellet(regions):
    area = 0
    for region in regions:
        if region.area > area:
            area = region.area
            pellet = region
    return pellet


def mask_background(mask, pellet):
    threshold = pellet.area * 0.01
    return morphology.remove_small_objects(mask, pellet.area - threshold)


def show_masked(img, borders, maskr):
    fig, (ax0, ax1) = plt.subplots(ncols=2, figsize=(8, 8))

    masked = img.copy()
    masked[~maskr] = 255
    ax0.imshow(masked)
    ax1.imshow(img)
    ax1.contour(borders, [0.5], colors="r")

In [3]:
from glob import glob

fnames = glob("class-zanetti/*.jpg")

for fname in fnames:
    pellet = Path(fname).stem

    img = open_image(fname)

    mask, borders, regions = image_segmentation(img)
    area = find_pellet(regions)

    maskr = mask_background(mask, area)

    print(f"Processing image {fname}.")
    savename = f"masks-zanetti/{pellet}"
    np.save(savename, maskr)
    print(f"Saved mask into {savename}.\n")

Processing image class-zanetti/alto_cl1_p2_joaq_dunaiii_h0005.jpg.
Saved mask into masks-zanetti/alto_cl1_p2_joaq_dunaiii_h0005.

Processing image class-zanetti/muitoalto_cl1_p4_brava_deixa5_f0010.jpg.
Saved mask into masks-zanetti/muitoalto_cl1_p4_brava_deixa5_f0010.

Processing image class-zanetti/baixo_cl1_p2_joaq_dunaiii_h0002.jpg.
Saved mask into masks-zanetti/baixo_cl1_p2_joaq_dunaiii_h0002.

Processing image class-zanetti/nulo_cl1_p2_joaq_dunaiii_h0006.jpg.
Saved mask into masks-zanetti/nulo_cl1_p2_joaq_dunaiii_h0006.

Processing image class-zanetti/baixo_cl1_p6_moca2_deixa3_a0006.jpg.
Saved mask into masks-zanetti/baixo_cl1_p6_moca2_deixa3_a0006.

Processing image class-zanetti/nulo_cl1_p2_joaq_dunaiii_g0006.jpg.
Saved mask into masks-zanetti/nulo_cl1_p2_joaq_dunaiii_g0006.

Processing image class-zanetti/muitoalto_cl1_p4_brava_deixa5_f0012.jpg.
Saved mask into masks-zanetti/muitoalto_cl1_p4_brava_deixa5_f0012.

Processing image class-zanetti/moderado_cl1_p2_joaq_dunai_c0009.jpg.
Saved mask into masks-zanetti/moderado_cl1_p2_joaq_dunai_c0009.

Processing image class-zanetti/alto_cl1_p1_psul_deixa1_g0005.jpg.
Saved mask into masks-zanetti/alto_cl1_p1_psul_deixa1_g0005.

Processing image class-zanetti/moderado_cl1_p2_joaq_dunaiii_g0008.jpg.
Saved mask into masks-zanetti/moderado_cl1_p2_joaq_dunaiii_g0008.

Processing image class-zanetti/nulo_cl1_p5_moca2_deixa2_c0002.jpg.
Saved mask into masks-zanetti/nulo_cl1_p5_moca2_deixa2_c0002.

Processing image class-zanetti/alto_cl1_p4_brava_deixa4_d0009.jpg.
Saved mask into masks-zanetti/alto_cl1_p4_brava_deixa4_d0009.

Processing image class-zanetti/baixo_cl1_p6_moca2_deixa3_a0005.jpg.
Saved mask into masks-zanetti/baixo_cl1_p6_moca2_deixa3_a0005.

Processing image class-zanetti/alto_cl1_p2_joaq_limsup2_b0004.jpg.
Saved mask into masks-zanetti/alto_cl1_p2_joaq_limsup2_b0004.

Processing image class-zanetti/baixo_cl1_p9_moca2_deixa5_b0001.jpg.
Saved mask into masks-zanetti/baixo_cl1_p9_moca2_deixa5_b0001.

Processing image class-zanetti/nulo_cl1_p3_brava_deixa3_h0008.jpg.
Saved mask into masks-zanetti/nulo_cl1_p3_brava_deixa3_h0008.

Processing image class-zanetti/muitoalto_cl1_p2_joaq_dunaiii_g0004.jpg.
Saved mask into masks-zanetti/muitoalto_cl1_p2_joaq_dunaiii_g0004.

Processing image class-zanetti/moderado_cl1_p2_joaq_dunaiii_h0003.jpg.
Saved mask into masks-zanetti/moderado_cl1_p2_joaq_dunaiii_h0003.

In [ ]:
from glob import glob
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from PIL import Image
from skimage import io


def get_dominant_color(pil_img, palette_size=16):
    # Resize image to speed up processing
    img = pil_img.copy()
    img.thumbnail((100, 100))

    # Reduce colors (uses k-means internally)
    paletted = img.convert("P", palette=Image.ADAPTIVE, colors=palette_size)

    # Find the color that occurs most often
    palette = paletted.getpalette()
    color_counts = sorted(paletted.getcolors(), reverse=True)
    idx = 1  # We want the second one to avoid getting the mask, otherwise use 0.
    palette_index = color_counts[idx][
        1
    ]  # We want the second one to avoid getting the mask
    dominant_color = palette[palette_index * 3 : palette_index * 3 + 3]

    return dominant_color

In [4]:
fnames = glob("masks-zanetti/*.npy")


dataset = {}
for fname in fnames:
    pellet = Path(fname).stem
    img = io.imread(f"class-zanetti/{pellet}.jpg")
    maskr = np.load(f"masks-zanetti/{pellet}.npy")

    fig, (ax0, ax1, ax2) = plt.subplots(ncols=3, figsize=(15, 5))
    fig.suptitle(pellet)

    ax0.imshow(img)

    # Remove background
    masked = img.copy()
    masked[~maskr] = 255
    ax1.imshow(masked)

    # Dominant color
    pil_img = Image.fromarray(masked)

    R, G, B = get_dominant_color(pil_img)
    dataset.update({pellet: (R, G, B)})

    colored = masked.copy()
    colored[maskr, 0] = R
    colored[maskr, 1] = G
    colored[maskr, 2] = B
    ax2.imshow(colored)

    saved = f"temp-zanetti/check-{pellet}.png"
    print(f"Saving check image {saved}.")
    fig.savefig(saved)
    plt.close()

Saving check image temp-zanetti/check-alto_cl1_p2_joaq_limsup2_b0004.png.
Saving check image temp-zanetti/check-alto_cl1_p4_brava_deixa4_d0009.png.
Saving check image temp-zanetti/check-muitoalto_cl1_p4_brava_deixa5_f0012.png.
Saving check image temp-zanetti/check-muitoalto_cl1_p4_brava_deixa5_f0010.png.
Saving check image temp-zanetti/check-moderado_cl1_p2_joaq_dunaiii_g0008.png.
Saving check image temp-zanetti/check-alto_cl1_p1_psul_deixa1_g0005.png.
Saving check image temp-zanetti/check-nulo_cl1_p3_brava_deixa3_h0008.png.
Saving check image temp-zanetti/check-alto_cl1_p2_joaq_dunaiii_h0005.png.
Saving check image temp-zanetti/check-baixo_cl1_p6_moca2_deixa3_a0006.png.
Saving check image temp-zanetti/check-baixo_cl1_p2_joaq_dunaiii_h0002.png.
Saving check image temp-zanetti/check-moderado_cl1_p2_joaq_dunaiii_h0003.png.
Saving check image temp-zanetti/check-moderado_cl1_p2_joaq_dunai_c0009.png.
Saving check image temp-zanetti/check-nulo_cl1_p2_joaq_dunaiii_g0006.png.
Saving check image temp-zanetti/check-nulo_cl1_p2_joaq_dunaiii_h0006.png.
Saving check image temp-zanetti/check-muitoalto_cl1_p2_joaq_dunaiii_g0004.png.
Saving check image temp-zanetti/check-baixo_cl1_p9_moca2_deixa5_b0001.png.
Saving check image temp-zanetti/check-baixo_cl1_p6_moca2_deixa3_a0005.png.
Saving check image temp-zanetti/check-nulo_cl1_p5_moca2_deixa2_c0002.png.

In [5]:
# Save final data
df = pd.DataFrame(dataset, index=("R", "G", "B")).T
df = df.sort_index(ascending = True)
df.to_csv("RGB_values_classeszanetti.csv")
df

                                       R    G    B
alto_cl1_p1_psul_deixa1_g0005        152  116    3
alto_cl1_p2_joaq_dunaiii_h0005       194  167    2
alto_cl1_p2_joaq_limsup2_b0004       169  157   54
alto_cl1_p4_brava_deixa4_d0009       186  167    6
baixo_cl1_p2_joaq_dunaiii_h0002      178  170  114
baixo_cl1_p6_moca2_deixa3_a0005      174  191  162
baixo_cl1_p6_moca2_deixa3_a0006      186  193  155
baixo_cl1_p9_moca2_deixa5_b0001      193  192  198
moderado_cl1_p2_joaq_dunai_c0009     199  187   90
moderado_cl1_p2_joaq_dunaiii_g0008   146  126   10
moderado_cl1_p2_joaq_dunaiii_h0003   184  168   64
muitoalto_cl1_p2_joaq_dunaiii_g0004  156  111    3
muitoalto_cl1_p4_brava_deixa5_f0010  132   68   10
muitoalto_cl1_p4_brava_deixa5_f0012  130   98    4
nulo_cl1_p2_joaq_dunaiii_g0006       155  159  149
nulo_cl1_p2_joaq_dunaiii_h0006       114  119  106
nulo_cl1_p3_brava_deixa3_h0008       148  150  137
nulo_cl1_p5_moca2_deixa2_c0002       184  210  254

In [6]:
df["G/B"] = round((df['G'] / df['B']),3)
df["R/G"] = round((df['R'] / df['G']),3)
df["R/B"] = round((df['R'] / df['B']),3)
df

                                       R    G    B     G/B    R/G     R/B
alto_cl1_p1_psul_deixa1_g0005        152  116    3  38.667  1.310  50.667
alto_cl1_p2_joaq_dunaiii_h0005       194  167    2  83.500  1.162  97.000
alto_cl1_p2_joaq_limsup2_b0004       169  157   54   2.907  1.076   3.130
alto_cl1_p4_brava_deixa4_d0009       186  167    6  27.833  1.114  31.000
baixo_cl1_p2_joaq_dunaiii_h0002      178  170  114   1.491  1.047   1.561
baixo_cl1_p6_moca2_deixa3_a0005      174  191  162   1.179  0.911   1.074
baixo_cl1_p6_moca2_deixa3_a0006      186  193  155   1.245  0.964   1.200
baixo_cl1_p9_moca2_deixa5_b0001      193  192  198   0.970  1.005   0.975
moderado_cl1_p2_joaq_dunai_c0009     199  187   90   2.078  1.064   2.211
moderado_cl1_p2_joaq_dunaiii_g0008   146  126   10  12.600  1.159  14.600
moderado_cl1_p2_joaq_dunaiii_h0003   184  168   64   2.625  1.095   2.875
muitoalto_cl1_p2_joaq_dunaiii_g0004  156  111    3  37.000  1.405  52.000
muitoalto_cl1_p4_brava_deixa5_f0010  132   68   10   6.800  1.941  13.200
muitoalto_cl1_p4_brava_deixa5_f0012  130   98    4  24.500  1.327  32.500
nulo_cl1_p2_joaq_dunaiii_g0006       155  159  149   1.067  0.975   1.040
nulo_cl1_p2_joaq_dunaiii_h0006       114  119  106   1.123  0.958   1.075
nulo_cl1_p3_brava_deixa3_h0008       148  150  137   1.095  0.987   1.080
nulo_cl1_p5_moca2_deixa2_c0002       184  210  254   0.827  0.876   0.724

In [23]:
nulo = df.iloc[14:18]
nulo.describe()

                R           G           B       G/B     R/G       R/B
count    4.000000    4.000000    4.000000  4.000000  4.0000  4.000000
mean   150.250000  159.500000  161.500000  1.028000  0.9490  0.979750
std     28.756159   37.775654   64.272856  0.135936  0.0501  0.171426
min    114.000000  119.000000  106.000000  0.827000  0.8760  0.724000
25%    139.500000  142.250000  129.250000  1.007000  0.9375  0.961000
50%    151.500000  154.500000  143.000000  1.081000  0.9665  1.057500
75%    162.250000  171.750000  175.250000  1.102000  0.9780  1.076250
max    184.000000  210.000000  254.000000  1.123000  0.9870  1.080000

In [24]:
baixo = df.iloc[4:8]
baixo.describe()

                R           G          B       G/B       R/G       R/B
count    4.000000    4.000000    4.00000  4.000000  4.000000  4.000000
mean   182.750000  186.500000  157.25000  1.221250  0.981750  1.202500
std      8.460693   11.030261   34.44198  0.214663  0.058077  0.256123
min    174.000000  170.000000  114.00000  0.970000  0.911000  0.975000
25%    177.000000  185.750000  144.75000  1.126750  0.950750  1.049250
50%    182.000000  191.500000  158.50000  1.212000  0.984500  1.137000
75%    187.750000  192.250000  171.00000  1.306500  1.015500  1.290250
max    193.000000  193.000000  198.00000  1.491000  1.047000  1.561000

In [25]:
moderado = df.iloc[8:11]
moderado.describe()

                R           G          B        G/B       R/G        R/B
count    3.000000    3.000000   3.000000   3.000000  3.000000   3.000000
mean   176.333333  160.333333  54.666667   5.767667  1.106000   6.562000
std     27.319102   31.214313  40.808496   5.923292  0.048446   6.969025
min    146.000000  126.000000  10.000000   2.078000  1.064000   2.211000
25%    165.000000  147.000000  37.000000   2.351500  1.079500   2.543000
50%    184.000000  168.000000  64.000000   2.625000  1.095000   2.875000
75%    191.500000  177.500000  77.000000   7.612500  1.127000   8.737500
max    199.000000  187.000000  90.000000  12.600000  1.159000  14.600000

In [26]:
alto = df.iloc[0:4]
alto.describe()

                R           G          B       G/B       R/G        R/B
count    4.000000    4.000000   4.000000   4.00000  4.000000   4.000000
mean   175.250000  151.750000  16.250000  38.22675  1.165500  45.449250
std     18.679311   24.295061  25.223997  33.69162  0.102559  39.515417
min    152.000000  116.000000   2.000000   2.90700  1.076000   3.130000
25%    164.750000  146.750000   2.750000  21.60150  1.104500  24.032500
50%    177.500000  162.000000   4.500000  33.25000  1.138000  40.833500
75%    188.000000  167.000000  18.000000  49.87525  1.199000  62.250250
max    194.000000  167.000000  54.000000  83.50000  1.310000  97.000000

In [27]:
muitoalto = df.iloc[11:14]
muitoalto.describe()

                R           G          B        G/B       R/G        R/B
count    3.000000    3.000000   3.000000   3.000000  3.000000   3.000000
mean   139.333333   92.333333   5.666667  22.766667  1.557667  32.566667
std     14.468356   22.052967   3.785939  15.174430  0.334259  19.400086
min    130.000000   68.000000   3.000000   6.800000  1.327000  13.200000
25%    131.000000   83.000000   3.500000  15.650000  1.366000  22.850000
50%    132.000000   98.000000   4.000000  24.500000  1.405000  32.500000
75%    144.000000  104.500000   7.000000  30.750000  1.673000  42.250000
max    156.000000  111.000000  10.000000  37.000000  1.941000  52.000000